*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    background-color: black;
    color: white;
    text-align: center;
    width: 920px;
    margin: 0 auto;
}
a{
    color: aliceblue;
}
.coming-soon{
    padding-top: 20px;
}
footer{
    text-align: end;
}